@font-face { 
    font-family: bierstadt; 
    src: url('/static/bierstadt.ttf'),local('Arial'),local('sans-serif'),local('system-ui'); 
    font-style: normal;
}

body {
    background-color: var(--primary-clr);
    font-size:clamp(1rem,1.3vw,1.1rem);
    line-height: 1.6;
    color: var(--primary-text);
    font-weight: 500;
    font-family: bierstadt, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',Arial, sans-serif;
    margin:0px;
    -webkit-tap-highlight-color:transparent;
    --primary-text:#221C1A;
    --primary-text-fixed:#221C1A;
    --card-clr:#F9E9DA;
    --primary-clr:white;
    --secondary-clr:#F9F0F0;
    --accent-clr:#FBE3B7;
    --button-clr:#FBABAD;
    --hover-shadow:0 1px 3px 0 rgb(60 64 67 / 10%), 0 4px 8px 3px rgb(60 64 67 / 5%);
    --hover-clr:rgba(0,0,0,0.05)
}

@media (prefers-color-scheme: dark) {
    body{
        --primary-text:#D9D9E0;
        --card-clr:#262628;
        --primary-clr:#1B1B1E;
        --secondary-clr:#262628;
        --accent-clr:#D9BFD7;
        --button-clr:#AEC6FF;
        --hover-shadow:0 1px 3px 0 rgb(60 64 67 / 10%), 0 4px 8px 3px rgb(60 64 67 / 5%);
        --hover-clr:rgba(255,255,255,0.1);
    }
    .icon{
        filter: brightness(100);
    }
}

body.dark{
    --primary-text:#D9D9E0;
    --card-clr:#262628;
    --primary-clr:#1B1B1E;
    --secondary-clr:#262628;
    --accent-clr:#D9BFD7;
    --button-clr:#AEC6FF;
    --hover-shadow:0 1px 3px 0 rgb(60 64 67 / 10%), 0 4px 8px 3px rgb(60 64 67 / 5%);
    --hover-clr:rgba(255,255,255,0.1);
}

body.dark .icon{
    filter: brightness(100);
}

body.light{
    --primary-text:#221C1A;
    --card-clr:#F9E9DA;
    --primary-clr:white;
    --secondary-clr:#F9F0F0;
    --accent-clr:#FBE3B7;
    --button-clr:#FBABAD;
    --hover-shadow:0 1px 3px 0 rgb(60 64 67 / 10%), 0 4px 8px 3px rgb(60 64 67 / 5%);
    --hover-clr:rgba(0,0,0,0.05)
}

body.light .icon{
    filter: none;
}


h1{
    margin:0;
    font-weight: inherit;
    font-family: inherit;
}


/* animations */

@keyframes slide-up{
    from{
        transform: translateY(2em);
    }
    to{
        transform: translateY(0em);
    }
}

@keyframes fade-in{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

@keyframes zoom-in{
    from{
        transform: scale(0%) rotate(0);
    }
    to{
        transform: scale(100%);
    }
}


/* generic components styling */
button{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    border:1px solid var(--primary-text);
    color:var(--primary-text);
    border-radius: 0.5em;
    padding:0.5em 1em;
    font-size: 0.9em;
    border-radius: 0.5em;
    cursor: pointer;
}

button.filled{
    background-color: var(--card-clr);
    border: none;
}

.filled_input{
    font-family: inherit;
    font-size: inherit;
    color:inherit;
    background-color: transparent;
    border:none;
    border-bottom: 2px solid var(--primary-text);
    padding:0.5rem 0.5rem;
    padding-top: 0.6em;
    flex:1;
    max-width: 16em;
}

.filled_input:focus{
    outline: none;
    background-color: var(--hover-clr);
}

#options_menu_background{
    z-index:1;
    position: absolute;
    inset:0;
    display:none;
}

.options_menu{
    position:absolute;
    background-color: var(--card-clr);
    border-radius: 0.3em;
    overflow: hidden;
    display:none;
    width:max-content;
    min-width: 12em;
    transform: translateX(-100%);
    padding:0.5em 0;
    z-index:1;
}

.options_menu > div{
    display:flex;
    align-items: center;
    padding:0.3em 1em;
    gap:0.5em;
    cursor: pointer;
}

.options_menu > div:hover{
    background-color: var(--hover-clr);
}

.options_menu > div > img{
    height:1.6em;
}

@media (max-width:700px){
    .options_menu{
        position:fixed;
        left:0 !important;
        width:100%;
        top: unset !important;
        bottom:0 !important;
        transform: translateX(0);
        padding-bottom: 3em;
        animation: slide-up 0.2s, fade-in 0.2s;
    }
    #options_menu_background{
        background-color: rgba(0,0,0,0.3);
        position: fixed;
    }
}


.button_card{
    background-color: var(--card-clr);
    border-radius: 0.5em;
    max-width:12em;
    flex:1;
    text-align: center;
    padding:1.5em 0.5em;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.2s box-shadow;
}

.button_card:hover{
    box-shadow: var(--hover-shadow);
}

.button_card > *{
    display:block;
    margin:auto;
}

.button_card > img{
    height:3em;
}

.large_header,
.small_header{
    background-color: var(--secondary-clr);
    padding:1em;
}

.large_header > div:nth-child(1){
    display: flex;
    margin-bottom: 1em;
    gap:0.2em
}

.large_header > div:nth-child(1) > img{
    height:2em;
    cursor: pointer;
    padding:0.2em;
    border-radius: 0.3em;
}

.large_header > div:nth-child(1) > img:hover{
    background-color: var(--hover-clr);
}

.large_header > div:nth-child(1) > div{
    flex:1;
}

.large_header > div:nth-child(2){
    font-size: 1.3em;
}

.small_header{
    display:flex;
    gap:1em;
    height:min-content;
    align-items: center;
}

.small_header > img{
    height:2em;
    cursor: pointer;
}


.bottom_alert{
    position:fixed;
    left:50%;
    bottom:0.5em;
    background-color: var(--primary-text);
    color:var(--secondary-clr);
    transform: translateX(-50%);
    max-width: 90%;
    padding:0.5em 1em;
    border-radius: 0.3em;
    transition: opacity 1s;
    z-index: 2;
}

.bottom_alert.fading{
    opacity: 0;
}


.FAB_element{
    position: fixed;
    cursor: pointer;
    right:1em;
    bottom:1em;
    background-color: var(--button-clr);
    padding:0.5em;
    border-radius: 0.5em;
    height:2.5em;
    box-shadow: var(--hover-shadow);
}

.FAB_element > img{
    height:100%;
}

@media (max-width:700px){
    .bottom_alert{
        transform: translateX(0%);
        left:0.5em;
        right:0.5em;
        max-width: none;
    }
}

/* nav bar styling */


nav{
    padding:0.5em;
    position: fixed;
    height: max-content;
    top:0;
    left:0;
    width:17em;
    margin-top: 5em;
}

.nav_option{
    display:flex;
    align-items: center;
    padding:0.5em 1em;
    border-radius: 100vmax;
    gap:0.5em;
    line-height: 0.6;
    margin-bottom: 0.8em;
    cursor: pointer;
}

.nav_option > *{
    margin:auto 0;
}

.nav_option:not(.filled):hover{
    background-color: var(--hover-clr);
}

.nav_option.filled{
    background-color: var(--accent-clr);
    color:var(--primary-text-fixed)
}

.nav_option img{
    height:2em;
    aspect-ratio: 1 / 1;
}

.nav_option.filled img{
    filter: none;
}

.nav_option div:not(.nav_tooltip){
    flex:1;
}

#nav_title{
    font-size: 1.2em;
    margin:1em 1em;
}

@media (max-width:700px){
    #nav_wrapper{
        background-color: var(--secondary-clr);
        margin:1em;
        border-radius: 100vmax;
        height:3.2em;
        padding:0 0.3em;
        box-shadow: var(--hover-shadow);
    }
    nav{
        width:100%;
        box-sizing: border-box;
        padding-bottom: 0;
        top:auto;
        bottom:0;
        height:max-content;
        z-index: 1;
        display:flex;
        background-color: var(--secondary-clr);
        border-radius: 0.5em 0.5em 0 0;
    }
    .nav_option{
        flex:1;
        flex-direction: column;
    }
    .nav_option .nav_tooltip{
        display:none
    }
    .nav_option img{
        margin-top: 0.3em;
    }
    .nav_option.filled{
        background-color: transparent;
        color:inherit
    }
    .nav_option img{
        padding:0.2em 1.5em;
        border-radius: 100vmax;
    }
    .nav_option.filled img{
        background-color: var(--accent-clr);
    }
}

/* nav bar styling */
#top_bar{
    position:fixed;
    inset:0;
    height:5em;
    display:flex;
    place-content: center;
    z-index: 1;
    background-color: var(--primary-clr);
}

#top_bar h1{
    display:inline;
    font-size: 1.2em;
    margin:auto 1em;
    flex:1;
    max-width: 10em;
}

#top_bar input{
    width:auto;
    border:none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    flex:1;
    color:var(--primary-text);
    margin-left:0.5em;
}

#top_bar input:focus{
    outline:none;
}

#top_bar input::placeholder{
    font-style: italic;
    color:var(--primary-text)
}


#nav_wrapper{
    display:flex;
    flex:5;
    place-content: center;
    padding:0 1em;
}

#nav_wrapper > img{
    cursor: pointer;
}

#search_bar{
    background-color: var(--secondary-clr);
    border-radius: 100vmax;
    height:3em; 
    max-width: 25em;
    margin:auto 0;
    padding:0.5em 1em;
    box-sizing: border-box;
    display:flex;
    align-content: center;
    flex:1;
    box-shadow: var(--hover-shadow);
}

#search_bar > img{
    height:80%;   
    margin:auto 0 auto auto; 
}

#nav_wrapper > img{
    margin:auto 0 auto auto;
    height:2em;
}

@media (max-width:700px){
    #top_bar{
        position:relative;
    }
    #top_bar input{
        font-size:1.2em;
    }
    #top_bar > h1{
        display:none;
    }
    #search_bar{
        padding:0.5em;
    }
    #search_bar > img{
        order: 1;
        margin:auto 0;
        height:90%;
    }
    #search_bar > input{
        order: 2;
    }
    #search_bar{
        box-shadow: none;
    }
}

/* account popup styling */
#account_popup_parent{
    position:fixed;
    display:none;
    inset:0;
    z-index: 1;
}

#account_popup{
    background-color: var(--primary-clr);
    width:20em;
    position:absolute;
    right:0.5em;
    top:4em;
    border-radius: 0.5em;
    padding:1em;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 2px 6px 2px rgb(60 64 67 / 15%);
}

#account_popup_header{
    display: none;
}

@media (max-width:700px){
    #account_popup_parent{
        background-color: rgba(0,0,0,0.2);
    }
    #account_popup{
        left:0;
        right:0;
        bottom:0;
        top:auto;
        height:auto;
        width:auto;
        padding-bottom: 9em;
    }
    #account_popup_header{
        text-align: center;
        position:relative;
        display: block;
        font-size: 1.4em;
    }
    #account_popup_header > img{
        position: absolute;
        left:0;
        height:1.5em;
    }
}

@media (prefers-color-scheme:dark){
    body.dark #account_popup{
        background-color: var(--secondary-clr);
    }    
}

body.dark #account_popup{
    background-color: var(--secondary-clr);
}

#account_popup_user_wrapper{
    text-align: center;
    line-height: 1;
}

#account_popup_user_wrapper > img{
    height:4em;
}

#account_popup_user_wrapper > button{
    margin-top: 0.5em;
}

#appearance_settings{
    border-top: 2px solid var(--secondary-clr);
    margin-top: 0.5em;
    padding-top: 0.5em;
}

#appearance_options{
    display:flex;
    gap:0.5em;
    font-size: 0.9em;
}

#appearance_options > div{
    flex:1;
}

.theme_preview{
    border-radius: 0.5em;
    position: relative;
    height:8em;
    cursor: pointer;
}

@supports (aspect-ratio: 16 / 9){
    .theme_preview{
        height:auto;
        aspect-ratio: 16 / 10;
    }
}

.theme_preview::after{
    position: absolute;
    left:25%;
    right:0;
    top:25%;
    bottom:0;
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    content:"Aa";
    padding:0.5em 1em;
    box-sizing: border-box;
}

.theme_preview.light{
    background-color: #ccc;
}

.theme_preview.light::after{
    background-color: white;
    color:black;
}

.theme_preview.dark{
    background-color: #333;
}

.theme_preview.dark::after{
    background-color: black;
    color:white;
}

#appearance_options .selected{
    box-sizing: border-box;
    border:5px solid var(--primary-text-fixed);
    position: relative;
}

#appearance_options .selected::before{
    content: '✓';
    position: absolute;
    color:white;
    bottom:0.5em;
    right:0.5em;
    background-color: var(--primary-text-fixed);
    z-index: 1;
    border-radius: 100%;
    padding:0.2em;
    width: 1.1em;
    text-align: center;
    line-height: 1;
}

#appearance_system_default{
    display:flex;
    border-radius: 0.8em;
}

#appearance_system_default > div{
    flex:1;
    aspect-ratio: 16 / 20;
}

#appearance_system_default > div:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#appearance_system_default > div:not(:first-child){
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* main styling */

main{
    padding:1em;
    margin-left: 18em;
    margin-top:5em
}

main.hidden{
    display:none
}

#new_design_buttons{
    display:flex;
    gap:0.8em;
}

@media (max-width:700px){
    main{
        margin-top:0;
        margin-left: 0;
    }
    .button_card{
        max-width: unset;
    }
}


#design_grid{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top:2em;
    gap:0.8em;
}

@media (max-width:1600px){
    #design_grid{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width:1400px){
    #design_grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:800px){
    #design_grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:500px){
    #design_grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

.design_card{
    width:100%;
    aspect-ratio: 1 / 1;
    border-radius: 0.5em;
    overflow: hidden;
    transition:0.2s box-shadow;
    cursor: pointer;
    position: relative;
}

.design_card:hover{
    box-shadow: var(--hover-shadow);
}

.design_card > img{
    position:absolute;
    height:50%;
    max-height: 8em;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: 0.1s opacity;
}

.design_card:hover > img{
    opacity:1;
}

.design_grid{
    width:100%;
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    overflow: hidden;
    contain: layout style paint;
}

.design_grid > span{
    position:absolute
}

.design_grid > div{
    width:100%;
    aspect-ratio: 1 /1;
    --light-green:#AAD751;
    --dark-green:#A2D149;
    --light-filled:#E5C29F;
    --dark-filled:#D7B899;
}

@media (prefers-color-scheme: dark){
    .design_grid > div{
        --light-green:#7FA639;
        --dark-green:#78A133;
        --light-filled:#B29475;
        --dark-filled:#A68B70;
    }
}

body.dark .design_grid > div{
    --light-green:#7FA639;
    --dark-green:#78A133;
    --light-filled:#B29475;
    --dark-filled:#A68B70;
}

body.light .design_grid > div{
    --light-green:#AAD751;
    --dark-green:#A2D149;
    --light-filled:#E5C29F;
    --dark-filled:#D7B899;
}

.design_grid > div:nth-child(2n){
    background-color: var(--dark-green);
}

.design_grid > div:nth-child(2n+1){
    background-color: var(--light-green);
}

.design_grid > .filled:nth-child(2n){
    background-color: var(--dark-filled);
}

.design_grid > .filled:nth-child(2n+1){
    background-color: var(--light-filled);
}

.design_card_bar{
    position:absolute;
    inset:0.5em;
    height:max-content;
    display:flex;
    background-color: var(--card-clr);
    border-radius: 0.3em;
    line-height: 0.8;
    padding:0.3em 0.5em;
    align-items: center;
}

.design_card_bar > div{
    flex:1;
}

.design_card_bar > img{
    height:1.5em;
    border-radius: 0.1em;
}

.design_card_bar > img:hover{
    background-color: var(--hover-clr);
}


/* editor styling */

#minefield_editor{
    inset:0;
    position:fixed;
    background-color: var(--primary-clr);
    flex-direction: column;
    overflow: auto;
    height:100vh;
    display:none;
    overscroll-behavior: contain;
    animation: zoom-in .3s, fade-in 0.3s;
    z-index:2;
}

#minefield_editor > .design_grid{
    margin:auto;
    width:min(calc(100vh - 10em),100%);
}


/* play field styling */
#minefield_play{
    display:none;
    grid-template-columns: auto 100vh;
    grid-template-rows: max-content 1fr 1fr;
    grid-template-areas: 'header minefield'
                        'time minefield'
                        'mistakes minefield';
    position:fixed;
    inset:0;
    background-color: var(--primary-clr);
    z-index:2;
    overflow: auto;
    animation: zoom-in .3s, fade-in 0.3s;
}

#minefield_play .design_grid{
    grid-area:minefield;
}

#minefield_play .small_header{
    grid-area: header;
}

#play_time_elapsed_wrapper{
    grid-area: time;
    place-self: end center;
    text-align: center;
    font-size: 1.6em;
    line-height: 1.2;
    padding-bottom: 1em;
}

#play_teamname{
    font-size:1.2em;
}

#play_mistakes_wrapper{
    grid-area: mistakes;
    place-self: stretch center;
    font-size: 1.6em;
    width:100%;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    position:relative;
}

#play_mistakes_wrapper > div{
    flex:1;
}

#play_time_elapsed{
    font-size: 2.4em;
}

#play_start_button{
    display:none;
    width:100%;
    max-width: 20em;
    margin: auto;
}

#play_time_elapsed_wrapper,
#play_mistakes_wrapper{
    padding:0.5em;
}

@media (max-width: calc(100vh + 300px)){
    #minefield_play{
        grid-template-columns: 1fr;
        min-height: 100vh;
        grid-template-rows: max-content 1fr max-content 1fr;
        grid-template-areas: 'header'
                            'time'
                            'minefield'
                            'mistakes';
    }
    #play_time_elapsed_wrapper{
        place-self: center;
    }
    #play_mistakes_wrapper{
        place-self: center;
    }
}


/* leaderboard styling */
.leaderboard_result{
    display:grid;
    position:relative;
    grid-template-columns: max-content 3em auto;
    grid-template-areas: 'image position name'
                            'image time time'
                            'image mistakes mistakes';
    border-bottom: 1px solid var(--accent-clr);
    padding:0.5em;
    font-size: 1.1em;
}

.leaderboard_result.first{
    grid-template-columns: auto;
    place-items: center;
    font-size: 1.2em;
    grid-template-areas: 'position'
                        'name'
                        'time'
                        'mistakes';
}

.leaderboard_result > img{
    height:5em;
    grid-area: image;
}

.leaderboard_result.first > img{
    position: absolute;
    left:0;
    top:0;
    height:100%;
}

.leaderboard_place{
    grid-area: position;
    font-size:1.4em;
} 

.leaderboard_name{
    grid-area: name;
    font-size:1.4em;
} 

.leaderboard_time{
    grid-area: time;
} 

.leaderboard_mistakes{
    grid-area: mistakes;
} 

@media (max-width:500px){
    .leaderboard_result > img{
        height:2em;
    }
    .leaderboard_result{
        grid-template-areas: 'image position name'
                                'time time time'
                                'mistakes mistakes mistakes';
    }
    .leaderboard_result.first > img{
        position: relative;
        height:2em
    }
    .leaderboard_result.first{
        grid-template-areas: 'image'
                        'position'
                        'name'
                        'time'
                        'mistakes';
    }    
}

