<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minefield App</title>
    <link rel="stylesheet" href="/static/home.css">
    <link rel="icon" href="/static/logo.png">
    <link rel='manifest' href='/static/manifest.webmanifest'>
    <meta name="theme-color" content="#ffffff"/>
    <script>
        window.onload = function() {
            if ('serviceWorker' in navigator){
                navigator.serviceWorker.register('/sw.js').then(function(registration){
                    registration.update();
                })
            }
        }
    </script>
</head>
<body>
<div id="top_bar">
    <h1>Minefield App</h1>
    <div id='nav_wrapper'>
        <div id="search_bar">
            <input type="text" placeholder='Search Designs'>
            <img src='/static/ui_icons/search.svg' class='icon'>
        </div>
        <img src='/static/ui_icons/account.svg' class='icon' onclick='document.getElementById("account_popup_parent").style.display="block"'>
    </div>
</div>
<nav>
    <div class="nav_option filled" onclick='navigate_to("designs_main",this)'>
        <img src='/static/ui_icons/home.svg' class='icon'>
        <div>Home</div>
        <div class='nav_tooltip' id='nav_num_designs'></div>
    </div>
    <div class="nav_option" onclick='navigate_to("leaderboard_main",this)'>
        <img src='/static/ui_icons/leaderboard.svg' class='icon'>
        <div>Leaderboard</div>
    </div>
</nav>

<main id='designs_main'>
    <div id="new_design_buttons">
        <div class='button_card' onclick='new_design(false)'>
            <img src="/static/ui_icons/add.svg" class='icon'>
            Create new
        </div>
        <div class='button_card' onclick='new_design(true)'>
            <img src="/static/ui_icons/automatic.svg" class='icon'>
            Auto generate
        </div>
    </div>
    <div id='design_grid'>

    </div>
</main>
<main id='leaderboard_main' class='hidden'>
</main>

<!-- create the options menu for the minefield card -->
<div id='options_menu_background'></div>
<div class='options_menu' id='minefield_card_options'>
    <div onclick='edit_design(this.parentNode.dataset.data)'>
        <img src='/static/ui_icons/edit.svg' class='icon'>Edit Design
    </div>
    <div onclick='play_design(this.parentNode.dataset.data)'>
        <img src='/static/ui_icons/play.svg' class='icon'>Play
    </div>
    <div onclick="delete_design(this.parentNode.dataset.data)">
        <img src='/static/ui_icons/delete.svg' class='icon'>Delete Design
    </div>
</div>


<!-- minefield editor -->
<div id='minefield_editor'>
    <div class='large_header'>
        <div>
            <img src='/static/ui_icons/back.svg' class='icon' onclick='save_design();'>
            <div></div>
            <img src='/static/ui_icons/reset.svg' class='icon' onclick='clear_design()'>
            <img src='/static/ui_icons/automatic.svg' class='icon' onclick='auto_gen_design()'>
            <img src='/static/ui_icons/play.svg' class='icon' onclick='save_design();play_design(document.getElementById("minefield_editor").dataset.id)'>
        </div>
        <div>
            Edit Design
        </div>
    </div>
    <div class='FAB_element' onclick='save_design();play_design(document.getElementById("minefield_editor").dataset.id)'>
        <img src='/static/ui_icons/play.svg'>
    </div>
</div>

<!-- minefield play screen -->
<div id="minefield_play">
    <div class="small_header">
        <img src='/static/ui_icons/back.svg' class='icon' onclick='close_play_design()'>
        <input placeholder='Unnamed team' type='text' class='filled_input' id='play_teamname'>
    </div>
    <div id='play_time_elapsed_wrapper'>
        <div id='play_time_elapsed'>
            <span id='play_time_minutes'>00</span>:<span id='play_time_seconds'>00</span> <span id='play_time_centiseconds'>00</span>
        </div>
        Time elapsed
    </div>
    <div id='play_mistakes_wrapper'>
        <span>Mistakes: <span id='play_mistakes'>00</span></span>
        <div></div>
        <button class='filled' id='play_start_button' onclick='start_playing_design()'>Start</button>
    </div>
</div>

<!-- account popup -->
<div id='account_popup_parent' onclick='document.getElementById("account_popup_parent").style.display=""'>
    <div id="account_popup" onclick='window.event.stopPropagation()'>
        <div id="account_popup_header">
            <img src='/static/ui_icons/close.svg' class='icon' onclick='document.getElementById("account_popup_parent").style.display=""'>
            Minefield App
        </div>
        <div id='account_popup_user_wrapper'>
            <img src='/static/ui_icons/account.svg' class='icon'>
            <br>
            <span id='account_popup_username'>aidan</span><br>
            <button onclick='sign_out()'>Sign out</button>
        </div>
        <div id='appearance_settings'>
            Appearance
            <div id='appearance_options'>
                <div>
                    <div class='theme_preview light' onclick='select_theme("light",this)'></div>
                    Light
                </div>
                <div>
                    <div class='theme_preview dark' onclick='select_theme("dark",this)'></div>
                    Dark
                </div>
                <div>
                    <div id='appearance_system_default' class='selected' onclick='select_theme("system",this)'>
                        <div class='theme_preview light'></div>
                        <div class='theme_preview dark'></div>
                    </div>
                    System Default
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function post_request(url,callback,data){
    fetch(url,{
        'method':'POST',
        'body':JSON.stringify(data)
    }).then((data) => {
        data.text().then((text) => {callback(text)})
    }).catch(() => {
        create_bottom_alert('Failed to fetch data, please check your internet')
    })
}

function create_bottom_alert(text){//create a popup message
    a = document.createElement('DIV');
    a.setAttribute('class','bottom_alert');
    a.innerText = text;
    setTimeout(function(){
        el = document.querySelector('.bottom_alert')
        el.parentNode.removeChild(el)
    },5000)
    setTimeout(function(){
        el = document.querySelector('.bottom_alert')
        el.classList.add('fading')
    },4000)
    document.body.appendChild(a)
}

function edit_design(id){//load a design id into the editor
    clear_design()//clear the editor
    pos = document.querySelector('.design_card[data-id="'+id+'"]').getBoundingClientRect()//animate to zoom-in around the design card
    document.getElementById('minefield_editor').style.transformOrigin = (pos.x+pos.width/2)+'px '+(pos.y+pos.height/2)+'px'
    post_request('/',function(data){//request to the get the design
        data = JSON.parse(data)
        if (data['state'] == 'done'){
            for (i=0;i<data['design'].length;i++){//apply the pattern
                document.querySelector('#minefield_editor div[data-x="'+data['design'][i][0]+'"][data-y="'+data['design'][i][1]+'"]').classList.add('filled')
            }
            document.getElementById('minefield_editor').style.display = 'flex'//show the editor
            document.getElementById('minefield_editor').dataset.id = data['design_id']//store the id for later
        }
        else{
            create_bottom_alert('Failed to load design')
        }
    },{'request_type':'get_design','id':id,'user_token':localStorage.getItem('user_token')})
}

function save_design(){//save the current design open in the editor
    document.getElementById("minefield_editor").style.display = ""
    design_id = document.getElementById('minefield_editor').dataset.id//get the id of the design

    els = document.querySelectorAll('#minefield_editor .design_grid > div.filled')//query for all the filled squares
    pattern = []
    for (i=0;i<els.length;i++){
        pattern.push([els[i].dataset.x,els[i].dataset.y])//add the coordinates of the safe squares to pattern
    }
    post_request('/',function(data){//finally post this data to the server 
        data = JSON.parse(data)
        if (data['state'] != 'done'){//if saving didnt work tell the user
            create_bottom_alert('Failed to save design')
        }
        else{
            //update the design grid with the new design
            design_card = document.querySelector('#design_grid > .design_card[data-id="'+design_id+'"]')
            design_id = document.getElementById('minefield_editor').dataset.id
            els = design_card.querySelectorAll('.filled')
            for (i=els.length-1;i>-1;i--){
                els[i].classList.remove('filled')
            }
            for (i=0;i<pattern.length;i++){
                design_card.querySelector('div[data-x="'+pattern[i][0]+'"][data-y="'+pattern[i][1]+'"]').classList.add('filled')
            }
        }
    },{'request_type':'save_design','id':design_id,'pattern':pattern,'user_token':localStorage.getItem('user_token')})
}

function new_design(auto_generate){//create a new design and open it in the editor
    post_request('/',function(data){
        data = JSON.parse(data)
        if (data['state'] == 'done'){
            //update the nav menu to show there are x designs
            document.getElementById('nav_num_designs').innerText = parseInt(document.getElementById('nav_num_designs').innerText)+1
            a = document.createElement('DIV');
            a.setAttribute('class','design_card');
            a.setAttribute('data-id',data['design_id'])
            a.setAttribute('onclick','play_design('+data['design_id']+')')
            grid = create_minefield_grid([])
            a.innerHTML = `
                ${grid}
                <img src='/static/ui_icons/play.svg'>
                <div class='design_card_bar'>
                    <div>Attempts: 0</div>
                    <div>Best time: -</div>
                    <img src='/static/ui_icons/more_dots.svg' class='icon' onclick=\"show_options(this,'minefield_card_options',this.parentNode.parentNode.dataset.id)\">
                </div>
            `
            document.getElementById('design_grid').innerHTML = a.outerHTML + document.getElementById('design_grid').innerHTML//add the new design at the top of the list
            edit_design(data['design_id'])
        }
    },{'request_type':'new_design','auto_generate':auto_generate,'user_token':localStorage.getItem('user_token')})
}

//clear the editor
function clear_design(){
    els = document.querySelectorAll('#minefield_editor .design_grid > div.filled')
    for (i=els.length-1;i>-1;i--){
        els[i].classList.remove('filled')
    }
}

function auto_gen_design(){
    post_request('/',function(data){
        data = JSON.parse(data)
        if (data['state'] == 'done'){
            //clear the grid
            els = document.querySelectorAll('#minefield_editor .design_grid > div.filled')
            for (i=els.length-1;i>-1;i--){
                els[i].classList.remove('filled')
            }
            //add the classes to the filled squares
            for (i=0;i<data['pattern'].length;i++){
                document.querySelector('#minefield_editor div[data-x="'+data['pattern'][i][0]+'"][data-y="'+data['pattern'][i][1]+'"]').classList.add('filled')
            }
        }
    },{'request_type':'auto_gen_design','user_token':localStorage.getItem('user_token')})
}

function delete_design(id){
    post_request('/',function(data){
        data = JSON.parse(data)
        if (data['state'] == 'done'){
            //update the nav menu to show there are x designs
            document.getElementById('nav_num_designs').innerText = parseInt(document.getElementById('nav_num_designs').innerText)-1
            el = document.querySelector('#design_grid .design_card[data-id="'+data['design_id']+'"]')
            el.parentNode.removeChild(el)
        }
        else{
            create_bottom_alert('Failed to delete design')
        }
    },{'user_token':localStorage.getItem('user_token'),'request_type':'delete_design','design_id':id})
}

async function play_design(id){//play the inputted design id
    //first reset the minefield
    els = document.querySelectorAll('#minefield_play .design_grid > div')
    for (i=els.length-1;i>-1;i--){
        els[i].setAttribute('class','')
    }
    document.querySelector('#minefield_play').dataset.id = id//store what design we are playing
    document.querySelector('#play_time_minutes').innerHTML = '00'
    document.querySelector('#play_time_seconds').innerHTML = '00'
    document.querySelector('#play_time_centiseconds').innerHTML = '00'
    document.querySelector('#play_mistakes').innerHTML = '00'
    document.querySelector('#play_teamname').value = ''

    if (!minefield_device){//if we arent connect to the device wait until we are connected
        await connect_device()
    }

    if (!minefield_device){//if we still arent connected to a device then that means the user declined the connect screen 
        create_bottom_alert('Please connect to the minefield to continue')
    } 
    else{
        document.getElementById('minefield_play').style.display = 'grid'
        //next fetch the pattern of the design
        post_request('/',function(data){
            data = JSON.parse(data)
            if (data['state'] == 'done'){
                for (i=0;i<data['design'].length;i++){//add the safe class to the safe squares
                    document.querySelector('#minefield_play .design_grid > div[data-x="'+data['design'][i][0]+'"][data-y="'+data['design'][i][1]+'"]').classList.add('safe')
                }
                //show the start button
                document.getElementById('play_start_button').style.display = 'block'
            }
            else{
                create_bottom_alert('Failed to load design data')
            }
        },{'user_token':localStorage.getItem('user_token'),'request_type':'get_design','id':id})
    }    
}

function close_play_design(){//close the play field
    document.getElementById('minefield_play').style.display = ''
    send_to_minefield('s')//stop the data being sent
    clearInterval(minefield_update_interval)
}

function start_playing_design(){
    //hide the start button
    document.getElementById('play_start_button').style.display = ''
    send_to_minefield('g')//send the start command to receive data
    document.querySelector('#minefield_play').dataset.start_time = new Date()/1000;//start time in seconds
    minefield_update_interval = setInterval(function(){//create the update interval to update the timer ui
        document.querySelector('#play_time_seconds').innerHTML = (parseInt((new Date()/1000 - document.querySelector('#minefield_play').dataset.start_time) % 60)+'').padStart(2, "0");
        document.querySelector('#play_time_minutes').innerHTML = (parseInt((new Date()/1000 - document.querySelector('#minefield_play').dataset.start_time) / 60)+'').padStart(2, "0");
        document.querySelector('#play_time_centiseconds').innerHTML = (parseInt((new Date()/10 - document.querySelector('#minefield_play').dataset.start_time*100) % 100)+'').padStart(2, "0");
    },52)
}

function update_minefield_play(on_buttons){//take the pressed buttons and update UI and check for deaths 
    //reset the pressed class
    els = document.querySelectorAll('#minefield_play .design_grid > div.pressed')
    for (i=0;i<els.length;i++){
        els[i].classList.remove('pressed')
    }

    if (on_buttons != 'nothing'){
        on_buttons = on_buttons.split(',');//split the comma separated values into list

        for (i=0;i<on_buttons.length;i++){
            xpos = on_buttons[i] % 8;
            ypos = parseInt(on_buttons[i] / 8);
            el = document.querySelector('#minefield_play .design_grid > div[data-x="'+xpos+'"][data-y="'+ypos+'"]')
            if (el.classList.contains('safe')){
                el.classList.add('pressed')
            }
            else{
                el.classList.add('dead')
            }
        }
    }
}


//bluetooth functions
function connect_device(){
    if ('bluetooth' in navigator){
        return navigator.bluetooth.requestDevice({ filters: [{ name: "Minefield" }],optionalServices: ['0000ffe0-0000-1000-8000-00805f9b34fb'] } )
                .then(device => {
                    // Attempts to connect to remote GATT Server.
                    create_bottom_alert('Connecting to minefield')
                    return device.gatt.connect();
                })
                .then(server => {
                    return server.getPrimaryService('0000ffe0-0000-1000-8000-00805f9b34fb');
                })
                .then(service => {
                    return service.getCharacteristic('0000ffe1-0000-1000-8000-00805f9b34fb');
                })
                .then(characteristic => {
                    minefield_device = characteristic;
                    // Set up event listener for when characteristic value changes.
                    characteristic.startNotifications();
                    characteristic.addEventListener('characteristicvaluechanged', recieve_minefield_data);
                })
                .catch(error => { console.error(error); });
    }
    else{
        create_bottom_alert('Your browser does not support bluetooth')
        return new Promise()
    }
}

function send_to_minefield(command){
    let cmd = [];
    for (let i=0;i<command.length;i++){
        cmd.push(command[i].charCodeAt(0))
    }
    cmd.push(10)
    
    let cmd_formatted = new Uint8Array(cmd);
    return minefield_device.writeValue(cmd_formatted).catch(error => { console.error(error); }); 
}

    
function recieve_minefield_data(event) {
    let stop = false;
    let i = 0;
    while (stop == false){
        try{
            if (String.fromCharCode(event.target.value.getUint8(i)) == '\r' && minefield_buffer != ''){
                update_minefield_play(minefield_buffer);
                minefield_buffer = ''
                i += 2;
            }
            else{
                minefield_buffer += String.fromCharCode(event.target.value.getUint8(i));
            }
            i += 1;
        }
        catch{
            stop = true;
        }
    }    
    //console.log('Battery percentage is ' + batteryLevel);
}




function create_minefield_grid(pattern){
    divs = ''//create 64 divs for the minefield
    for (n=0;n<8;n++){
        for (g=0;g<8;g++){
            classlist = ''
            for (h=0;h<pattern.length;h++){
                if (pattern[h][0] == g && pattern[h][1] == n){
                    classlist = 'filled'
                }
            }
            divs += '<div class="'+classlist+'" data-x="'+g+'" data-y="'+n+'"></div>'
        }
        divs += '<span></span>'//create an empty span every row so the css selectors are easier
    }
    return "<div class='design_grid'>"+divs+'</div>'
}

//function used to change pages
function navigate_to(page,el){
    els = document.querySelectorAll('main')
    for (i=0;i<els.length;i++){
        els[i].classList.add('hidden')
    }
    els = document.querySelectorAll('.nav_option')
    for (i=0;i<els.length;i++){
        els[i].classList.remove('filled')
    }
    document.getElementById(page).classList.remove('hidden')
    el.classList.add('filled')
}

document.getElementById('minefield_editor').innerHTML += create_minefield_grid([])
document.getElementById('minefield_editor').onmousedown = function(){
    this.dataset.click = 1;
}
document.getElementById('minefield_editor').onmouseup = function(){
    this.dataset.click = 0;
}
els = document.querySelectorAll('#minefield_editor .design_grid > div')
for (i=0;i<els.length;i++){
    els[i].onclick = function(){
        if (this.classList.contains('filled')){
            this.classList.remove('filled')
        }
        else{
            this.classList.add('filled')
        }
    }
    els[i].onmouseenter = function(){
        if (parseInt(document.getElementById('minefield_editor').dataset.click)){
            if (this.classList.contains('filled')){
                this.classList.remove('filled')
            }
            else{
                this.classList.add('filled')
            }
        }
    }
}

//create the play field
document.getElementById('minefield_play').innerHTML += create_minefield_grid([])

post_request('/',function(data){
    data = JSON.parse(data)
    if (data['state'] == 'done'){
        //update the nav menu to show there are x designs
        document.getElementById('nav_num_designs').innerText = data['designs'].length
        for (i=0;i<data['designs'].length;i++){
            a = document.createElement('DIV');
            a.setAttribute('class','design_card');
            a.setAttribute('data-id',data['designs'][i]['design_id'])
            a.setAttribute('onclick','play_design('+data['designs'][i]['design_id']+')')
            grid = create_minefield_grid(data['designs'][i]['pattern'])
            a.innerHTML = `
                ${grid}
                <img src='/static/ui_icons/play.svg'>
                <div class='design_card_bar'>
                    <div>Attempts: ${data['designs'][i]['attempts']}</div>
                    <div>Best time: ${data['designs'][i]['time']}</div>
                    <img src='/static/ui_icons/more_dots.svg' class='icon' onclick=\"show_options(this,'minefield_card_options',this.parentNode.parentNode.dataset.id)\">
                </div>
            `
            document.getElementById('design_grid').appendChild(a)
        }
    }
    else if (data['state'] == 'signed out'){
        window.location.pathname = '/sign-in'
    }
},{'request_type':'get_designs','user_token':localStorage.getItem('user_token')})

//get the current leaderboard
post_request('/',function(data){
    data = JSON.parse(data)
    if (data['state'] == 'done'){
        for (i=0;i<data['leaderboard'].length;i++){
            a = document.createElement('DIV');
            a.setAttribute('class','leaderboard_result')
            if (i == 0){
                a.classList.add('first')
            }
            image = ''
            if (i == 0){
                image =  "<img src='/static/ui_icons/first.png'>"
            }
            if (i == 1){
                image =  "<img src='/static/ui_icons/second.png'>"
            }
            if (i == 2){
                image =  "<img src='/static/ui_icons/third.png'>"
            }
            a.innerHTML = `
                ${image}
                <div class='leaderboard_place'>#${i+1}</div>
                <div class='leaderboard_name'>${data['leaderboard'][i]['name']}</div>
                <div class='leaderboard_time'>Time elapsed: ${data['leaderboard'][i]['time']}</div>
                <div class='leaderboard_mistakes'>Mistakes: ${data['leaderboard'][i]['mistakes']}</div>
            `
            document.getElementById('leaderboard_main').appendChild(a)
        }
    }
    else{
        create_bottom_alert('Failed to get leaderboard')
    }
},{'request_type':'get_leaderboard','user_token':localStorage.getItem('user_token')})


function show_options(el,id,data){
    window.event.stopPropagation()
    pos = el.getBoundingClientRect();
    menu = document.getElementById(id);
    menu.style.left = pos.right+'px'
    menu.style.top = 'calc('+pos.bottom+'px + 0.5em + '+window.scrollY+'px)'
    menu.style.display = 'block'
    menu.dataset.data = data
    document.getElementById('options_menu_background').style.display = 'block'
}

function select_theme(theme,el){
    //update the ui
    document.querySelector('#appearance_options .selected').classList.remove('selected')
    el.classList.add('selected')
    metaThemeColor = document.querySelector("meta[name=theme-color]");//update the theme color

    if (theme == 'system'){
        document.body.classList.remove('dark')
        document.body.classList.remove('light')
        if (window.matchMedia('(preferes-color-scheme:dark)').matches){
            metaThemeColor.setAttribute("content", '#1B1B1E');
        }
        else{
            metaThemeColor.setAttribute("content", '#ffffff');
        }
    }
    if (theme == 'light'){
        document.body.classList.remove('dark')
        document.body.classList.add('light')
        metaThemeColor.setAttribute("content", '#ffffff');
    }
    if (theme == 'dark'){
        document.body.classList.add('dark')
        document.body.classList.remove('light')
        metaThemeColor.setAttribute("content", '#1B1B1E');
    }
    localStorage.theme = theme
}

function sign_out(){
    post_request('/',function(data){
        data = JSON.parse(data)
        if (data['state'] == 'done'){
            localStorage.removeItem('user_token')
            window.location.href = '/sign-in'
        }
        else{
            create_bottom_alert('Failed to sign out')
        }
    },{'request_type':'sign_out','user_token':localStorage.getItem('user_token')})
}


//select the right theme
if (localStorage.getItem('theme') == 'dark'){
    document.querySelector('.theme_preview.dark').click()
}
if (localStorage.getItem('theme') == 'light'){
    document.querySelector('.theme_preview.light').click()
}

document.addEventListener('click',function(){
    document.getElementById('options_menu_background').style.display = ''
    els = document.getElementsByClassName('options_menu')
    for (i=0;i<els.length;i++){
        els[i].style.display = 'none'
    }
})


//variables used to handle the external minefield
var minefield_device;
var minefield_buffer = '';
var minefield_update_interval;

</script>

</body>
</html>