<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minefield App</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <div id="top_bar">
        <h1>Minefield App</h1>
        <div id='nav_wrapper'>
            <div id="search_bar">
                <input type="text" placeholder='Search Designs'>
                <img src='/static/ui_icons/search.svg'>
            </div>
            <img src='/static/ui_icons/account.svg'>
        </div>
    </div>
    <main>
        <div id="new_design_buttons">
            <div class='button_card' onclick='new_design(false)'>
                <img src="/static/ui_icons/add.svg">
                Create new
            </div>
            <div class='button_card' onclick='new_design(true)'>
                <img src="/static/ui_icons/automatic.svg">
                Auto generate
            </div>
        </div>
        <div id='design_grid'>

        </div>
    </main>

<!-- create the options menu for the minefield card -->
<div class='options_menu' id='minefield_card_options'>
    <div onclick='edit_design(this.parentNode.dataset.data)'>
        <img src='/static/ui_icons/edit.svg'>Edit Design
    </div>
    <div>
        <img src='/static/ui_icons/play.svg'>Play
    </div>
    <div>
        <img src='/static/ui_icons/delete.svg'>Delete Design
    </div>
</div>

<!-- minefield editor -->
<div id='minefield_editor'>
    <div class='large_header'>
        <div>
            <img src='/static/ui_icons/back.svg' onclick='save_design();document.getElementById("minefield_editor").style.display = ""'>
            <div></div>
            <img src='/static/ui_icons/reset.svg' onclick='clear_design()'>
            <img src='/static/ui_icons/automatic.svg' onclick='auto_gen_design()'>
            <img src='/static/ui_icons/play.svg'>
        </div>
        <div>
            Edit Design
        </div>
    </div>
    <img src='/static/ui_icons/play.svg'>
</div>

<script>
function post_request(url,callback,data){
    fetch(url,{
        'method':'POST',
        'body':JSON.stringify(data)
    }).then((data) => {
        data.text().then((text) => {callback(text)})
    }).catch(() => {
        create_bottom_alert('Failed to fetch data, please check your internet')
    })
}

function create_bottom_alert(text){//create a popup message
    a = document.createElement('DIV');
    a.setAttribute('class','bottom_alert');
    a.innerText = text;
    setTimeout(function(){
        el = document.querySelector('.bottom_alert')
        el.parentNode.removeChild(el)
    },5000)
    setTimeout(function(){
        el = document.querySelector('.bottom_alert')
        el.classList.add('fading')
    },4000)
    document.body.appendChild(a)
}

function edit_design(id){
    els = document.querySelectorAll('#minefield_editor .design_grid > div.filled')
    for (i=els.length-1;i>-1;i--){
        els[i].classList.remove('filled')
    }
    pos = document.querySelector('.design_card[data-id="'+id+'"]').getBoundingClientRect()
    document.getElementById('minefield_editor').style.transformOrigin = (pos.x+pos.width/2)+'px '+(pos.y+pos.height/2)+'px'
    post_request('/',function(data){
        data = JSON.parse(data)
        if (data['state'] == 'done'){
            for (i=0;i<data['design'].length;i++){
                document.querySelector('#minefield_editor div[data-x="'+data['design'][i][0]+'"][data-y="'+data['design'][i][1]+'"]').classList.add('filled')
            }
            document.getElementById('minefield_editor').style.display = 'flex'
        }
        document.getElementById('minefield_editor').dataset.id = data['design_id']
    },{'request_type':'get_design','id':id,'user_token':localStorage.getItem('user_token')})
}

function save_design(){//save the current design open in the editor
    design_id = document.getElementById('minefield_editor').dataset.id

    els = document.querySelectorAll('#minefield_editor .design_grid > div.filled')
    pattern = []
    for (i=0;i<els.length;i++){
        pattern.push([els[i].dataset.x,els[i].dataset.y])
    }
    post_request('/',function(data){
        data = JSON.parse(data)
        if (data['state'] != 'done'){
            create_bottom_alert('Failed to save design')
        }
        else{
            //update the design grid with the new design
            design_card = document.querySelector('#design_grid > .design_card[data-id="'+design_id+'"]')
            design_id = document.getElementById('minefield_editor').dataset.id
            els = design_card.querySelectorAll('.filled')
            for (i=els.length-1;i>-1;i--){
                els[i].classList.remove('filled')
            }
            for (i=0;i<pattern.length;i++){
                design_card.querySelector('div[data-x="'+pattern[i][0]+'"][data-y="'+pattern[i][1]+'"]').classList.add('filled')
            }
        }
    },{'request_type':'save_design','id':design_id,'pattern':pattern,'user_token':localStorage.getItem('user_token')})
}

function new_design(auto_generate){
    post_request('/',function(data){
        data = JSON.parse(data)
        if (data['state'] == 'done'){
            a = document.createElement('DIV');
            a.setAttribute('class','design_card');
            a.setAttribute('data-id',data['design_id'])
            grid = create_minefield_grid([])
            a.innerHTML = `
                ${grid}
                <img src='/static/ui_icons/play.svg'>
                <div class='design_card_bar'>
                    <div>Attempts: 0</div>
                    <div>Best time: -</div>
                    <img src='/static/ui_icons/more_dots.svg' onclick=\"show_options(this,'minefield_card_options',this.parentNode.parentNode.dataset.id)\">
                </div>
            `
            document.getElementById('design_grid').innerHTML = a.outerHTML + document.getElementById('design_grid').innerHTML//add the new design at the top of the list
            edit_design(data['design_id'])
        }
    },{'request_type':'new_design','auto_generate':auto_generate,'user_token':localStorage.getItem('user_token')})
}

//clear the editor
function clear_design(){
    els = document.querySelectorAll('#minefield_editor .design_grid > div.filled')
    for (i=els.length-1;i>-1;i--){
        els[i].classList.remove('filled')
    }
}

function auto_gen_design(){
    post_request('/',function(data){
        data = JSON.parse(data)
        if (data['state'] == 'done'){
            //clear the grid
            els = document.querySelectorAll('#minefield_editor .design_grid > div.filled')
            for (i=els.length-1;i>-1;i--){
                els[i].classList.remove('filled')
            }
            //add the classes to the filled squares
            for (i=0;i<data['pattern'].length;i++){
                document.querySelector('#minefield_editor div[data-x="'+data['pattern'][i][0]+'"][data-y="'+data['pattern'][i][1]+'"]').classList.add('filled')
            }
        }
    },{'request_type':'auto_gen_design','user_token':localStorage.getItem('user_token')})
}

function create_minefield_grid(pattern){
    divs = ''//create 64 divs for the minefield
    for (n=0;n<8;n++){
        for (g=0;g<8;g++){
            classlist = ''
            for (h=0;h<pattern.length;h++){
                if (pattern[h][0] == g && pattern[h][1] == n){
                    classlist = 'filled'
                }
            }
            divs += '<div class="'+classlist+'" data-x="'+g+'" data-y="'+n+'"></div>'
        }
        divs += '<span></span>'//create an empty span every row so the css selectors are easier
    }
    return "<div class='design_grid'>"+divs+'</div>'
}

document.getElementById('minefield_editor').innerHTML += create_minefield_grid([])
document.getElementById('minefield_editor').onmousedown = function(){
    this.dataset.click = 1;
}
document.getElementById('minefield_editor').onmouseup = function(){
    this.dataset.click = 0;
}
els = document.querySelectorAll('#minefield_editor .design_grid > div')
for (i=0;i<els.length;i++){
    els[i].onclick = function(){
        if (this.classList.contains('filled')){
            this.classList.remove('filled')
        }
        else{
            this.classList.add('filled')
        }
    }
    els[i].onmouseenter = function(){
        if (parseInt(document.getElementById('minefield_editor').dataset.click)){
            if (this.classList.contains('filled')){
                this.classList.remove('filled')
            }
            else{
                this.classList.add('filled')
            }
        }
    }
}

post_request('/',function(data){
    data = JSON.parse(data)
    if (data['state'] == 'done'){
        for (i=0;i<data['designs'].length;i++){
            a = document.createElement('DIV');
            a.setAttribute('class','design_card');
            a.setAttribute('data-id',data['designs'][i]['design_id'])
            grid = create_minefield_grid(data['designs'][i]['pattern'])
            a.innerHTML = `
                ${grid}
                <img src='/static/ui_icons/play.svg'>
                <div class='design_card_bar'>
                    <div>Attempts: ${data['designs'][i]['attempts']}</div>
                    <div>Best time: ${data['designs'][i]['time']}</div>
                    <img src='/static/ui_icons/more_dots.svg' onclick=\"show_options(this,'minefield_card_options',this.parentNode.parentNode.dataset.id)\">
                </div>
            `
            document.getElementById('design_grid').appendChild(a)
        }
    }
    else if (data['state'] == 'signed out'){
        window.location.pathname = '/sign-in'
    }
},{'request_type':'get_designs','user_token':localStorage.getItem('user_token')})


function show_options(el,id,data){
    window.event.stopPropagation()
    pos = el.getBoundingClientRect();
    menu = document.getElementById(id);
    menu.style.left = pos.right+'px'
    menu.style.top = 'calc('+pos.bottom+'px + 0.5em + '+window.scrollY+'px)'
    menu.style.display = 'block'
    menu.dataset.data = data
}

document.addEventListener('click',function(){
    els = document.getElementsByClassName('options_menu')
    for (i=0;i<els.length;i++){
        els[i].style.display = 'none'
    }
})

</script>

</body>
</html>