<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minefield App</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <div id="top_bar">
        <h1>Minefield App</h1>
        <div id='nav_wrapper'>
            <div id="search_bar">
                <input type="text" placeholder='Search Designs'>
                <img src='/static/ui_icons/search.svg'>
            </div>
            <img src='/static/ui_icons/account.svg'>
        </div>
    </div>
    <main>
        <div id="new_design_buttons">
            <div class='button_card'>
                <img src="/static/ui_icons/add.svg">
                Create new
            </div>
            <div class='button_card'>
                <img src="/static/ui_icons/automatic.svg">
                Auto generate
            </div>
        </div>
        <div id='design_grid'>

        </div>
    </main>

<!-- create the options menu for the minefield card -->
<div class='options_menu' id='minefield_card_options'>
    <div onclick='edit_design(this.parentNode.dataset.data)'>
        <img src='/static/ui_icons/edit.svg'>Edit Design
    </div>
    <div>
        <img src='/static/ui_icons/play.svg'>Play
    </div>
    <div>
        <img src='/static/ui_icons/delete.svg'>Delete Design
    </div>
</div>

<div id='minefield_editor'>
    <div class='large_header'>
        <div>
            <img src='/static/ui_icons/back.svg'>
            <div></div>
            <img src='/static/ui_icons/reset.svg'>
            <img src='/static/ui_icons/automatic.svg'>
            <img src='/static/ui_icons/play.svg'>
        </div>
        <div>
            Edit Design
        </div>
    </div>
</div>

<script>
function post_request(url,callback,data){
    fetch(url,{
        'method':'POST',
        'body':JSON.stringify(data)
    }).then((data) => {
        data.text().then((text) => {callback(text)})
    })
}

function show_options(el,id,data){
    window.event.stopPropagation()
    pos = el.getBoundingClientRect();
    menu = document.getElementById(id);
    menu.style.left = pos.right+'px'
    menu.style.top = 'calc('+pos.bottom+'px + 0.5em + '+window.scrollY+'px)'
    menu.style.display = 'block'
    menu.dataset.data = data
}

function edit_design(id){
    post_request('/',function(data){
        data = JSON.parse(data)
        if (data['state'] == 'done'){
            for (i=0;i<data['design'].length;i++){
                document.querySelector('#minefield_editor div[data-x="'+data['design'][i][0]+'"][data-y="'+data['design'][i][1]+'"]').classList.add('filled')
            }
            document.getElementById('minefield_editor').style.display = 'flex'
        }
    },{'request_type':'get_design','id':id,'user_token':localStorage.getItem('user_token')})
}

function create_minefield_grid(pattern){
    divs = ''//create 64 divs for the minefield
    for (n=0;n<8;n++){
        for (g=0;g<8;g++){
            classlist = ''
            for (h=0;h<pattern.length;h++){
                if (pattern[h][0] == g && pattern[h][1] == n){
                    classlist = 'filled'
                }
            }
            divs += '<div class="'+classlist+'" data-x="'+g+'" data-y="'+n+'"></div>'
        }
        divs += '<span></span>'//create an empty span every row so the css selectors are easier
    }
    return "<div class='design_grid'>"+divs+'</div>'
}

document.getElementById('minefield_editor').innerHTML += create_minefield_grid([])
document.getElementById('minefield_editor').onmousedown = function(){
    this.dataset.click = 1;
}
document.getElementById('minefield_editor').onmouseup = function(){
    this.dataset.click = 0;
}
els = document.querySelectorAll('#minefield_editor .design_grid > div')
for (i=0;i<els.length;i++){
    a = function(){
        if (!matchMedia('(pointer:fine)').matches){
            document.getElementById('minefield_editor').dataset.click = 1
        }
        if (parseInt(document.getElementById('minefield_editor').dataset.click) && (document.getElementById('minefield_editor').dataset.selected_x != this.dataset.x || document.getElementById('minefield_editor').dataset.selected_y != this.dataset.y)){
            if (this.classList.contains('filled')){
                this.classList.remove('filled')
            }
            else{
                this.classList.add('filled')
            }
            document.getElementById('minefield_editor').dataset.selected_x = this.dataset.x
            document.getElementById('minefield_editor').dataset.selected_y = this.dataset.y
        }
    }
    els[i].onclick = function(){
        if (this.classList.contains('filled')){
            this.classList.remove('filled')
        }
        else{
            this.classList.add('filled')
        }
        document.getElementById('minefield_editor').dataset.selected_x = this.dataset.x
        document.getElementById('minefield_editor').dataset.selected_y = this.dataset.y
    }
    els[i].onmouseover = a
    els[i].ondragover = a
}

post_request('/',function(data){
    data = JSON.parse(data)
    if (data['state'] == 'done'){
        for (i=0;i<data['designs'].length;i++){
            a = document.createElement('DIV');
            a.setAttribute('class','design_card');
            a.setAttribute('data-id',data['designs'][i]['design_id'])
            grid = create_minefield_grid(data['designs'][i]['pattern'])
            a.innerHTML = `
                ${grid}
                <img src='/static/ui_icons/play.svg'>
                <div class='design_card_bar'>
                    <div>Attempts: ${data['designs'][i]['attempts']}</div>
                    <div>Best time: ${data['designs'][i]['time']}</div>
                    <img src='/static/ui_icons/more_dots.svg' onclick=\"show_options(this,'minefield_card_options',this.parentNode.parentNode.dataset.id)\">
                </div>
            `
            document.getElementById('design_grid').appendChild(a)
        }
    }
},{'request_type':'get_designs','user_token':localStorage.getItem('user_token')})


document.addEventListener('click',function(){
    els = document.getElementsByClassName('options_menu')
    for (i=0;i<els.length;i++){
        els[i].style.display = 'none'
    }
})

</script>

</body>
</html>